{% extends "../base.html" %}

{% block content %}
</br />
<!---  Demo alert -->
<div class="alert alert-dismissible alert-warning">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <h4 class="alert-heading">Demo sida!</h4>
  <p class="mb-0">Det här är bara en demo sida, bokningar här gäller inte!</p>
</div>
<!---  Board select -->
</br />
<div class="row">
  <div class="col">
    <div class="card border-primary mb-3" ">
      <div class="card-header">
        <h2>Välj bräda</h2>
      </div>
      <div class="card-body">{% include "booking/partial/board_select.html" %}</div>
      <!---  End  card body -->
    </div>
    <!---  End  card header -->
  </div>
  <!---  End  col -->
</div>
<!---  End row-->
<!--- copilot oob swapping and more -->
{% if False %}
</br />
<div class="row">
  <div class="card">
    <div class="card-header">
      <h2>OOB SWAPPING</h2>
    </div>
    <!--- end card header -->
    <div class="card-body">
      <h5 class="card-title">multi target update</h5>
      <p class="card-text">Update multiple targets using this method.</p>
      <!-- This button triggers an HTMX request -->
      <button hx-post="/booking/update_view_oob/"
              hx-trigger="click"
              hx-target="#updateElement1"
              hx-swap="outerHTML">Update Both Divs</button>
      <div id="updateElement1">
        <!-- Initial content for element 1 -->
        <p>Old Content for Div 1</p>
      </div>
      <div id="updateElement2">
        <!-- Initial content for element 2 -->
        <p>Old Content for Div 2</p>
      </div>
    </div>
    <!-- end card -->
  </div>
</div>
<div>
{% endif %}
<!--- Time select -->
</br />
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h2>Välj tid</h2>
      </div>
      <div class="card-body">
        <div id="updateElement">
          <!-- This content will be replaced by the response from your Django view -->
        </div>
      </div>
    </div>
    <div>
      <!---  End col -->
    </div>
    <!---  End row-->
    <!--- complete booking -->
  </br />
  <div class="row">
    <div class="col">
      <div class="card border-secondary mb-3">
        <div class="card-header">
          <h2>Slutför bokning</h2>
        </div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <div id="booking-check-out">
            <!-- This content will be replaced by the response from your Django view -->
          </div>
        </br />
        <div id="booking-check-out-alert-placeholder">
          <!-- This content will be replaced by the response from your Django view -->
        </div>
      </div>
      <!-- End card body -->
    </div>
    <!-- End card -->
    <div>
      <!---  End col -->
    </div>
    <!---  End row-->
  {% endblock content %}
